# Website files
*.pdf

# Compiled pages
public/blog/
public/images/
public/projects/pos/

# Symlinks to other git repos
public/cgi-bin/newsletter.*
public/cgi-bin/templates/newsletter
public/css/newsletter.css
public/projects/newsletter/

# Python files
**/__pycache__/
