# Website files
*.pdf

# Compiled pages
public/blog/
public/images/
public/projects/pos/

# Symlinks to other git repos
public/css/newsletter.css
public/projects/newsletter/

# Python files
**/__pycache__/

*.secrets.json
