repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: local
    hooks:
      - id: prevent-wrap-py-change
        name: Prevent Changes to wrap.py
        entry: |
          git diff --cached --name-only | grep -q 'public/cgi-bin/wrap.py'
        language: system
        types: [file]
        always_run: true
        pass_filenames: false
        fail_on_untracked: true
