<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewpoint" content="width=device.width, initial-scale=1.0">
<title>The Skel Scale</title>
<link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
<link rel="stylesheet" href="../../css/style.css?v=1"/>
</head>
<body>
    <section class="main">
        <!--navigation {{{-->
        <nav>
            <!--logo-->
            <a href="../" class="logo">
                <p>Home</p> 
            </a>
            <input class="menu-btn" type="checkbox" id="menu-btn"/>
            <!--menu-->
            <ul class="menu">
                <li><a href="../projects/">Projects</a></li>
                <li><a href="../blog/" class="blog">Blog</a></li>
            </ul>
        </nav>
        <!--}}}-->

        <div class="container">
            <!--project {{{ -->
            <div class="center">
                <h2>The <font>termperature</font> in Cambridge is [termperature]</h2>
                <form action="skels">
                    <div class="input-bar">
                        <div>
                            <label for="min">Minimum temperature</label>
                            <input type="number" id="min" name="min_temp" value="[minT]" step="0.1">
                        </div>
                        <div>
                            <label for="mid">Comfortable temperature</label>
                            <input type="number" id="mid" name="mid_temp" value="[midT]" step="0.1">
                        </div>
                        <div>
                            <label for="max">Maximum temperature</label>
                            <input type="number" id="max" name="max_temp" value="[maxT]" step="0.1">
                        </div>
                    </div>
                    <input type="submit" name="Get temperature", id="scale_submit" value="Get temperature">
                </form>
            </div>
            <!--}}}-->

            <!--post {{{ -->
            <div class="new-post">
                <h1 id="a-better-temperature-system">A Better Temperature System</h1>
                <p>There are 3 standard temperature systems (at least that are talked
                about in public discourse): Kelvin, Celsius, and Fahrenheit.</p>
                <p>Kelvin is impractical for every day use but excellent for scientific
                purposes though, I feel, primarily physics/physical systems. The problem
                is standard temperatures range from 268.15K to 313.15K. Huge numbers
                with little changing between them.</p>
                <p>Celsius has wide spread use across the globe (barring a few
                countries). It’s neat, 0&#176C
                freezing point and 100&#176C
                boiling point for water. Definitely a useful system expecially in
                scientific applications (especially with its direct relation to Kelvin)
                and cooking applications. But standard human temperatures range from
                -5&#176C to 40&#176C. A weird range where a value
                changing by 3 can have huge effects.</p>
                <p>Fahrenheit! This is awful, this is not about how we should switch to
                Fahrenheit. Typical temperatures range from 23&#176F to 104&#176F which is fairly impractical but
                it is very close to a “percentage temperature scale” for humans. Think
                0&#176F = -18&#176C and 100&#176F = 37.8&#176C. This is close to a good
                system.</p>
                <h2 id="the-better-system">The better system</h2>
                <p>A better system:</p> 
                <ul>
                    <li>* neatly covers the typical temperature range (-5 to 40) wrapping it ~-1 to ~1.</li>
                    <li>* places room temperature (or comfortable temperature) at 0.</li>
                    <li>* places a fever (though not sure if this will stick around) at ~1.</li>
                    <li>* places (water) freezing temperature at ~-1.</li>
                    <li>* places (water) boiling temperature at some whole number.</li>
                </ul>
                <p>If we go with a first attempt of fitting a linear curve to 2 of the above points we have:</p>
                <ul>
                    <li>* typical temperature range is -1.27 to 1.12 (which is okay)</li>
                    <li>* room temperature is ~0 (depends on definition but cool it popped out!)</li>
                    <li>* a fever (~37.8&#176C) is 1 (one of our chosen points)</li>
                    <li>* water freezes is -1 (one of our chosen points)</li>
                    <li>* water boils at 4.29 (Oh no! that’s not great)</li>
                </ul>
                <p>This is fine though, because now we have some scale that gives a good percentage for humans. Some cool temperature points:</p>
                <ul>
                    <li>* 0.5 means its not boiling but it’s warm and starting to get uncomfortable if you’re not careful. 28.5&#176C pretty spot on</li>
                    <li>* -0.5 means its not freezing but it’s cold and you should wrap up. 9.5&#176C is pretty close</li>
                    <li>* 1 means its boiling and you should deal with it appropriately</li>
                    <li>* -1 means its freezing and you should deal with it appropriately</li>
                </ul>
                <p>The small issue is that 28&#176C to 32&#176C is far larger a temperature jump (subjectively) than 10&#176C to 5&#176C. This non-uniformity will be addressed as this system improves.</p>
                <p>For now (if you are in Cambridge) here is a little temperature guage for you.</p>
                <hr/>
                <p>Started using templates for cgi-bin pages. During this I decides this needed a little spruce up so here we are. Will look at making the navbar a template and essentially compiling my site when I update it.</p>
            </div>
            <!--}}}-->
        </div>
    </section>
</body>
</html>
