/* defaults {{{*/
body {
    margin: 0px;
    padding: 0px;
    font-family: calibri;
    color: #f8f8f2;
    background-color: #282a36;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #50fa7b;
}

a:hover {
    text-decoration: none;
    color: #8be9fd;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #282a36;
}

font {
    font-size: 2rem;
    color: #8be9fd;
    letter-spacing: 1px;
    font-weight: 700;
}
/*}}}*/

/* navigation {{{*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: #282a36;
    box-shadow: 2px 2px 20px rgba(139, 233, 253, 0.13);
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav ul li a,
nav p {
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #bd93f9;
    letter-spacing: 1px;
    position: relative;
}

nav ul li a::before {
    content: "";
    background-color: #bd93f9;
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 0px;
    z-index: -1;
    transform: scaleX(0.66);
    transition: all .3s ease-in-out;
}

nav ul li a:hover::before {
    background-color: #bd93f9;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(1);
    box-shadow: 2px 5px 15px #bd93f988;
}

nav ul li a:hover {
    color: #44475a;
}

nav .blog {
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #8be9fd;
    letter-spacing: 1px;
    font-weight: bold;
}

nav .blog::before {
    content: "";
    background-color: #8be9fd;
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 0px;
    z-index: -1;
    transform: scaleX(0.66);
    transition: all .3s ease-in-out;
}

nav .blog:hover::before {
    background-color: #8be9fd;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(1);
    box-shadow: 2px 5px 15px #8be9fd88;
}

nav p {
    color: #44475a;
    background-color: #bd93f9;
}

nav p:hover {
    color: #44475a;
    background-color: #bd93f9;
    box-shadow: 2px 5px 15px rgba(189, 147, 249, 0.5);
    transition: all ease 0.2s;
}

nav .menu-btn {
    display: none;
}

/*}}}*/

/* main-content {{{ */
.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.home-img {
    width: 500px;
    height: 400px;
    margin: 20px;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.home-text {
    width: 500px;
    margin: 20px;
}

.home-text h1 {
    font-size: 3.5rem;
    line-height: 55px;
    color: #8be9fd;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}

.home-text p {
    font-size: 1rem;
    color: #f8f8f2;
}

.home-text ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.home-text li {
    padding: 0px 10px;
}

.main-login {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #bd93f9;
    text-transform: uppercase;
    margin: auto;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    color: #bd93f9;
}

.main-login:hover {
    background-color: #bd93f9;
    color: #44475a;
    box-shadow: 5px 10px 30px rgba(189, 147, 249, 0.5);
    transition: all ease 0.3s;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*}}}*/

/* sticker {{{ */
.sticker {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 5%;
    width: 10%;
    rotate: -27.032002deg;
    border-radius: 10%;
}

.sticker img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    border-radius: 10%;
}

.sticker .peel {
    position: absolute;
    background: #838996;
    width: 15%;
    left: 85%;
    padding-top: 15%;
    border-top-left-radius: 50%;
    bottom: 0;
}

.sticker .peel::after {
    content: "";
    position: absolute;
    background: #282a36;
    width: 141%;
    height: 141%;
    top: 30%;
    left: 30%;
    rotate: 45deg;
}
/* }}} */

/* scrf logo {{{ */
.srcf {
    position: absolute;
    left: 5px;
    bottom: 5px;
}
/* }}} */

/* arrow {{{ */
.arrow {
    width: 0px;
    height: 20%;
    border: 2px solid #8be9fd;
    border-radius: 4px;
    margin-bottom: 4em;
    position: absolute;
    bottom: 5px;
    right: 80px;
    animation: arrow-animation ease 1.5s;
}

.arrow::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #8be9fd transparent transparent transparent;
    right: -0.6em;
    bottom: -3px;
}

.scroll {
    position: absolute;
    bottom: 20px;
    right: 55px;
    font-weight: 600;
    color: #8be9fd;
}

@keyframes arrow-animation {
    0% {
        bottom: 70px;
        opacity: 0.2;
    }

    100% {
        bottom: 5px;
        opacity: 1;
    }
}

/*}}}*/

/* services {{{ */
.services {
    /* tutorial places image */
    background-size: 1000px;
    background-position: center;
}

.services-heading {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.services-heading h2 {
    line-height: 55px;
    font-size: 2.2rem;
    color: #bd93f9;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}

.services-heading p {
    font-size: 1rem;
    color: #f8f8f2;
    width: 50%;
}

/*}}}*/

/* boxes {{{ */
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 500px;
    box-shadow: 2px 2px 20px rgba(248, 248, 242, 0.15);
    border-radius: 10px;
    background-color: #282a36;
    margin: 20px;
    flex-grow: 1;
    padding: 20px;
}

.box font {
    font-size: 2.2rem;
    color: #8be9fd;
    letter-spacing: 1px;
    font-weight: 700;
}

.box p {
    font-size: 1rem;
    color: #f8f8f2;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.box a {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #bd93f9;
    text-transform: uppercase;
    margin: auto;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    color: #bd93f9;
}

.box a:hover {
    background-color: #bd93f9;
    color: #44475a;
    box-shadow: 5px 10px 30px #bd93f988;
    transition: all ease 0.3s;
}

.box ul {
    display: flex;
    margin: 0px;
    padding: 0.25rem;
}

/*}}}*/

/*Link backs {{{ */
.linkback {
    padding: 0px 15px;
}

.linkback a {
    width: 88px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0px;
    padding: 10px 22px;
    text-transform: uppercase;
    margin: auto;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.75rem;
    color: #bd93f9;
}

.linkback a:hover {
    top: -10px;
    background-color: #bd93f9;
    color: #44475a;
    box-shadow: 5px 10px 30px #bd93f988;
    transition: all ease 0.3s;
}

.linkback img {
    min-width: 88px;
    min-height: 31px;
}

.isforme {
    display: flex;
    justify-content: left;
    text-align: left;
    background-color: #44475a;
    padding: 0.5rem;
    margin: 1rem;
    height: 8rem;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(248, 248, 242, 0.15);
}

.isforme img {
    height: 31px;
    width: 88px;
}

.isforme textarea {
    border: none;
    border-radius: 4px;
    outline: 2px dashed #282a36;
    background-color: #282a36;
    text-align: left;
    padding: 0.25rem;
    color: #f8f8f2;
    width: 100%;
    resize: none;
    overflow: hidden;
}
/*}}}*/

/* articles {{{ */
.content {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.article {
    display: absolute;
    flex-direction: column;
    margin: 20px;
}

.article p {
    font-size: 1rem;
    color: #f8f8f2;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post {
    padding-left: 50px;
    padding-right: 50px;
}

/*I foresee no problems with this approach*/
.new-post {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 10px;
}

/*}}}*/

/* projects {{{ */
.container {
    max-width: 800px;
    margin: auto;
    margin-top: 120px;
}

.center {
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: #8be9fd;
}
/* }}} */

/* input-bar {{{ */
.input-bar {
    display: flex;
}

input, textarea {
    border: 2px solid #44475a;
    background-color: #282a36;
    border-top: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 100%;
    color: #8be9fd;
    padding: 10px;
    padding-bottom: 35px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
}

input[type="submit"] {
    border: 2px solid #bd93f9;
    border-radius: 4px;
    background-color: #bd93f9;
    color: #282a36;
    height: 40px;
    padding: 0;
}

input[type="number"] {
    text-align: center;
    padding: 10px;
}

label {
    display: block;
    background-color: #44475a;
    border: 4px solid #44475a;
    border-radius: 4px;
    width: 100%;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    font-weight: bolder;
}


/* }}} */

/* images {{{ */
figure {
    padding: 4px;
    margin: auto;
}

figcaption {
    background-color: #282a36;
    color: #8be9fd;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

img {}

/*}}}*/

/* footer {{{ */
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    border-top: 1px solid rgba(189, 147, 249, 0.2);
}

footer a,
footer p {
    color: #ff5555;
}

/*}}}*/
